#file-uploader-input{
    border: 0px;
    margin: 0px;
}
.login-form{
  width: inherit;
  padding: 3% 0 0;
  margin: auto;
}
.new-card-div{
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: 0.8px solid #eeee;
    padding-top: 24px;
}
.new-card-form{
    display: block;
    text-align: initial;
    padding: 10px;
}
.name-container{
    display: flex;
}
.name-div{
    display: inline;
}
.upload-div{
    border: 0.8px solid #eeee;
    padding: 10px;
}
.new-card-form section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}
.new-card-form section span {
    line-height: 0.55em;
    font-size: 14px;
    color: #222222;
    margin: 16px 0px;
}
.new-card-form input {
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}

section.description textarea {
    width: 100%;
}

section.button-div{
    flex-direction: row;
    justify-content: space-between;
}