{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div>
    <form action="/login" method="POST">
        <label>Enter User Name :</label>
        <input type="text" name="username"><br/>
        <label>Enter Password :</label>
        <input type="password" name="password"><br/>
        <button type="submit" name="submit">LogIn</button>
        <button type="reset" name="reset">Reset</button>
    </form>
    <form action="/signup">
        <button type="submit">SignUp</button>
    </form>
    
   

</div>

{% endblock %}