body {
    background: #EBE4CC; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #EBE4CC, #EBE4CC);
    background: -moz-linear-gradient(right, #EBE4CC, #EBE4CC);
    background: -o-linear-gradient(right, #EBE4CC, #EBE4CC);
    background: linear-gradient(to left, #EBE4CC, #EBE4CC);
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    color: #018b8b;   
    overflow: hidden;  
}