body {
    background: white; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ffffff, white);
    background: -moz-linear-gradient(right, white, white);
    background: -o-linear-gradient(right, white, white);
    background: linear-gradient(to left, white, white);
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}