.card-list-container{
    list-style: none;
    overflow: scroll;
    padding: 0em;
    margin-top: 0;
}
.company-search{
    font-size: 16px;
    height: 40px;
    color: #6a6a6d;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}
.card-list{
    padding: 15px;
    font-size: 16px;
    /* font-weight: 500; */
    display: flex;
    border-bottom: 1px solid #e9e8e8;
    cursor: pointer;
}
.card-list:last-child{
    border-bottom: 0px
}
.new-card-btn{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    .contacts-heading{
        font-weight: 400;
    }
    .add-new-card{
        color: #3875d2;
        font-size: 15px;
        cursor: pointer;
    }
}
#new-card{
    font-size: 2.5em;
    width: 55px;
    height: 55px;
    border-width: 0px;
    padding-bottom: 5px;
}
.card-container{
    display: inline-flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.search-bar{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    select:first-child{
        width: 80%;
    }
}
.search-bar input{
    width: 100%;
    border-radius: 5px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
}

.card-header-div{
    display: flex;
    justify-content: start;
    margin-bottom: 0px;
}
#no-border-div{
    border: none;
    padding: 5px;
}