.card-list-container{
    list-style: none;
    overflow: scroll;
    padding: 0em;
}
.company-search{
    display: block;
    font-size: 14px;
    color: #6a6a6d;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: auto;
    max-width: fit-content;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    border-width: 0.5px;
    -moz-appearance: none;
    height: 34px;
}
.card-list{
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}
.new-card-btn{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
}
#new-card{
    font-size: 2.5em;
    width: 55px;
    height: 55px;
    border-width: 0px;
    padding-bottom: 5px;
}
.card-container{
    display: inline-flex;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 37px;
}
.search-bar{
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: baseline;
}
.card-header-div{
    display: flex;
    justify-content: start;
    margin-bottom: 0px;
}
#no-border-div{
    border: none;
    padding: 0px;
}